/* General Style */
body {
	height: 100%;
	width: 100%;
	font-family: 'Raleway', sans-serif;
	overflow: hidden;
}

.container{
	padding: 10px;
}

h1.myName {
	text-transform: uppercase;
}

/* Nav Bar */
.mainNav {
	position: absolute;
	right: 5%;
	top: 5%; 
	font-size: 16px;
	z-index: 100;
} 
.mainNav .active {
	opacity: .3;
	text-decoration: line-through;
}
.mainNav a {
	text-decoration: none;
	margin: 0 10px;
	text-transform: uppercase;
}
.mainNav a:visited{
	color: black;
}

.mainNav a:hover{
	text-decoration: line-through;
}



/* Home page */
.intro {
 	position: absolute;
    top: 40%;
    text-align: right;
    width: 100%;
    right: 5%;
}

.mainPic{
	width: 450px;
	   -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

.intro .myName{
	font-size: 40px;
    letter-spacing: 7px;
}

.intro h3{
	letter-spacing: 2px;
    margin-top: -25px;
    font-weight: 400;
}

/* About page */
.about {
 	position: absolute;
    top: 26%;
    text-align: right;
    width: 50%;
    right: 5%;
}

.about h1{
	font-size: 30px;
	text-transform: uppercase;
}

.about p {
	line-height: 23px;
}

/* Portfolio Page */
.port-info{
	width: 20%;
	top: 15%;
    position: absolute;
    height: 500px;
    right: 5%;
}
.port-info h2{
	margin: 0;
}

hr{
	margin: 0px 100px 10px 0px;
}


.port-info p{
	font-size: 12px;
	margin-top : 0;
	font-weight: 700;
    font-size: 14px;position: relative;
    left: 20px;
}
.port-info .techSection{
	position: absolute;
    top: 300px;
}
.port-info .linkSection{
	position: absolute;
    top: 400px;
}

.port-nav{
	position: fixed;
    bottom: 0;
    right: 25%;
}



#arrow-down {
	position: relative;
	top: -45px;
	left: 40px;
  	width: 0;
  	height: 0;
  	border-left: 20px solid transparent;
  	border-right: 20px solid transparent;
  	border-top: 35px solid black;
}

.port .thumbnail{
	position: absolute;
    top: 15%;
    left: 5%;
    height: 600px;
    width: 700px;
    -webkit-box-shadow: 10px 10px 15px 0px rgba(219,219,219,1);
	-moz-box-shadow: 10px 10px 15px 0px rgba(219,219,219,1);
	box-shadow: 10px 10px 15px 0px rgba(219,219,219,1);
 }
.port .thumbnail img{
    min-height: 600px;
    max-width: 700px;
}

 .port .thumbnail.prev{
 	top: -500px;
 }
 .port .thumbnail.next{
 	top: 750px;
}

/* Contact Page */
 .contact{
 	position: absolute;
    top: 26%;
    text-align: right;
    width: 50%;
    right: 5%;
 }

 .contact h1{
	font-size: 30px;
	text-transform: uppercase;
}

.contact-form input:focus, .contact-form textarea:focus {
	outline: black auto;
}
.contact-form textarea {
    width: 300px;
    height: 150px;
}
.contact-form input[type=submit] {
	padding:5px 15px; 
	background:#ccc; 
	border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    font-family: 'Raleway', sans-serif;
}

