body{
	height: 100%;
	width: 100%;
}

.container{
	
	
}

.intro {

}


#page-wrap {

}

.mainNav {
	position: absolute;
	right: 5%;
	top: 1%; 
} 

.mainNav img {
	padding: 0 10px;
}

.mainNav .BlogNav{
	padding-right: 0;
}

.mainNav .currentNav{
	text-color: white; 
}

