<img src= "images/portPic.png" class="mainPic">
<div class="about" id="about">
			<h1>About</h1>
			<p>With the help of a VHS tutorial from the public library, I made his first web page in 6th grade. It had falling stars in the background, and all was right in the world. After completing coursework towards a degree in Marketing, I moved to New York City to pursue a career in fashion and lifestyle.</p> <p>As fate might have it, I met a software engineer whose numerous conversations sparked a fire to pursue web developing as a career. Soon after, I enrolled in the Flatiron School, where I jump-started my career in web development. Since, I've being able to contribute code from starts-up all the way up to Fortune 200 companies with some amazing clients in between. </p>
          <p>Having my code executed by millions of users, made my quest for well structured code an obsession and the pursuit of developing a more beautiful web, a fever.</p>
        </div>
			
		</div>