<div class="contact">
	<h1>Contact</h1>
	<p> <span class="boldedText">EMAIL</span><a href="mailto:ed@edwardleonjasper.com?Subject=Hello%friend!" target="_top">ed@edwardleonjasper.com</a> </br> <span class="boldedText">TWITTER</span><a href="http://twitter.com/edwardljasper">edwardljasper</a></p>

	<form action="contact_form.php" method="post" class="contact-form" name="contact_form">
    <div>
        <label for="name">Name</label></br>
        <input type="text" id="name" name="user_name" />
    </div>
    <div>
        <label for="email">E-mail</label></br>
        <input type="email" id="mail" name="user_mail" />
    </div>
    <div>
        <label for="msg">Message</label></br>
        <textarea id="msg" name="user_message" >Hey Ed, you're awesome. le'ts chat!</textarea>
    </div>
    <input type="submit" value="Send"/>
</form>
</div> 
	