<div class="contact">
	<h1>Contact</h1>
	<p>Pop-up tote bag drinking vinegar microdosing pork belly ennui kitsch chia, gluten-free next level bitters. </p>
	<form action="/my-handling-form-page" method="post" class="contact-form">
    <div>
        <label for="name">Name</label></br>
        <input type="text" id="name" name="user_name" />
    </div>
    <div>
        <label for="mail">E-mail</label></br>
        <input type="email" id="mail" name="user_mail" />
    </div>
    <div>
        <label for="msg">Message</label></br>
        <textarea id="msg" name="user_message" >Hey Ed you're awesome, lets chat!</textarea>
    </div>
    <input type="submit" value="Send"/>
</form>
</div> 
	